#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  user-select: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1%;
}

.card-voting-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  user-select: none;
  flex-direction: row;
}

.card-voted {
  color: #3993ff;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 3.2rem;
  border: 2px solid #3993ff;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 10px;
  cursor: pointer;
}

.card {
  color: #3993ff;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 3.2rem;
  border: 2px solid #3993ff;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.1s;
}

.card-checked {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 3.2rem;
  border: 2px solid #1a7bf2;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 10px;
  cursor: pointer;
  transition: all 0.1s;
  color: white;
  background-color: #1a7bf2;
  transform: translateY(-8px);
}

.card:hover {
  transition: all 0.1s;
  transform: translateY(-3px);
  background-color: #ebf4ff;
}

.card-vote {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  height: 4.8rem;
  width: 3rem;
  color: black;
  user-select: none;
  cursor: default;
  margin: 0 15px 15px;
}

.vote-quantity {
  color: #515151;
  font-size: 1.2rem;
  font-weight: 500;
}

.card-vote-container {
  display: flex;
  flex-direction: column;
}

.card-empty {
  background-color: #e8e9ea;
  border: 1px solid #00000000;
  cursor: default;
}

.received-card {
  cursor: default;
}

.back-card {
  cursor: default;
  background: linear-gradient(45deg, #3993ff 12%, transparent 0, transparent 88%, #3993ff 0), linear-gradient(135deg, transparent 37%, #1a7bf2 0, #1a7bf2 63%, transparent 0), linear-gradient(45deg, transparent 37%, #3993ff 0, #3993ff 63%, transparent 0), #74b3ff;
  background-size: 17px 17px;
  box-shadow: 2px 2px 5px #00000095;
  border: 1px solid #ededed25;
}

.user {
  font-size: 1.2rem;
  font-weight: 600;
  height: 1.2rem;
}

.game-name {
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  left: 7%;
  top: 5%;
  padding: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s;
  user-select: none;
}

.game-username {
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  right: 10%;
  top: 5%;
  padding: 0.8rem;
  border-radius: 5px;
  transition: all 0.3s;
  user-select: none;
}

.game-name:hover {
  transition: all 0.3s;
  background-color: #f1f1f1;
  cursor: pointer;
}

.average {
  font-size: 1.5rem;
  margin: 0 0 0 2rem;
  color: #a8aeb2;
}

.average-number {
  font-size: 2.2rem;
  font-weight: 700;
  color: black;
  margin-top: 5px;
}

.coffee {
  margin: 0 25px;
}

.coffee>p {
  font-size: 1.5rem;
  color: #a8aeb2;
  margin: 0 0 20px;
}

.coffee>span {
  font-size: 2.2rem;
}