#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.card {
  color: #3993ff;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 3.5rem;
  border: 2px solid #3993ff;
  border-radius: 10px;
  background-color: #fff;
  margin: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.received-card {
  cursor: default;
}

.back-card {
  cursor: default;
  background: linear-gradient(45deg, #3993ff 12%, transparent 0, transparent 88%, #3993ff 0), linear-gradient(135deg, transparent 37%, #1a7bf2 0, #1a7bf2 63%, transparent 0), linear-gradient(45deg, transparent 37%, #3993ff 0, #3993ff 63%, transparent 0), #74b3ff;
  background-size: 17px 17px;
  box-shadow: 2px 2px 5px #00000095;
  border: 1px solid #ededed25;
}

.user {
  font-size: 1.2rem;
  font-weight: 600;

}